{% extends "base.html" %}
{% block link %}
    {% if request.user.is_authenticated and user_obj == request.user %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:change' user_obj.pk %}">Редактировать</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:password_change' %}">Смена пароля</a>
        </li>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="profile-header">
        <div class="profile-username">{{ user_obj.username }}</div>
        <div class="profile-bio">{{ user_obj.first_name }}</div>
        <div class="profile-bio">{{ user_obj.last_name }}</div>
        <div class="profile-bio">{{ user_obj.phone }}</div>
        <div class="profile-bio">{{ user_obj.email }}</div>
    </div>
    <div class="profile-posts mt-5">
        <div class="row">
            {% for photo in user_obj.photos.all %}
                <div class="col-md-4 mb-4">
                    <a href="{% url "webapp:photo_view" photo.pk %}">
                        <img class="post-thumbnail img-fluid" src="{{ photo.image.url }}"
                             alt="{{ photo.image.filename }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}