{% extends "base.html" %}
{% load static %}

{% block link %}
    {% include "partial/link_header_partial.html" %}
{% endblock %}


{% block content %}
    <div class="product_name_purchase text-center mt-5">
        <h1 class="name_product" style="font-weight: bold">{{ product.name }}</h1>
    </div>
    <div class="container options_title text-center mt-1 py-2 mb-3" style="font-size: 40px; font-weight: 400; border-bottom: 4px solid #212529; border-radius: 30px; border-left: 2px solid #212529; border-right: 2px solid #212529;">
        Выберите подходящий вариант для оформления покупки.
    </div>
    <div class="purchase_options text-center mx-5">
        <div class="row">
            <div class="col-xxl-6">
                <a class="purchase-option_a" href="{% url "webapp:purchase_no_delivery" product.pk %}"
                   style="text-decoration: none">
                    <div class="purchase-option card purchase-option_a" id="buy-without-delivery">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h5 class="card-title" style="font-size: 60px;font-weight: bold">Купить без доставки</h5>
                        </div>
                        <div class="card-footer card_footer_option">
                            <div style="font-size: 20px">Вы заберете товар самостоятельно</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xxl-6">
                <a class="purchase-option_a" href="{% url "webapp:purchase_with_delivery" product.pk %}" style="text-decoration: none">
                    <div class="purchase-option card purchase-option_a" id="buy-with-delivery">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h5 class="card-title" style="font-size: 60px; font-weight: bold">Купить с доставкой</h5>
                        </div>
                        <div class="card-footer card_footer_option">
                            <div style="font-size: 20px">Мы отложим для Вас данный товар</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="delivery-note">
        <p>Стоимость доставки не включена в оплату за товар.</p>
    </div>
{% endblock %}