{% extends "base.html" %}
{% load static %}

{% block link %}
    {% include "partial/link_header_partial.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-12 mt-5 mx-0">
                <div class="costumes_card card border-dark text-center shadow-lg" style="text-decoration: none;">
                    <h3 class="card-header card-title py-4 m-0 bg-dark" style="font-weight: bold;">Купить с
                        доставки</h3>
                    <div class="card-body">
                        <form method="post" class="purchase-form">
                            {% csrf_token %}
                            <label for="size">Размер:</label>
                            <select name="size" id="size">
                                {% for size in product.sizes.all %}
                                    <option value="{{ size.pk }}">{{ size }}</option>
                                {% endfor %}
                            </select>
                            <label for="phone">Контактный номер:</label>
                            <input type="text" name="phone_number" id="phone">
                            <label for="address">Адрес доставки:</label>
                            <input type="text" name="delivery_address" id="address">
                            <button type="submit" class="btn btn-primary mt-3">Оформить заказ</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center align-center">
            <div class="col-lg-6 mb-5 mx-0">
                <div class="costumes_card card border-dark text-center shadow-lg h-100" style="text-decoration: none;">
                    <h3 class="card-header card-title py-4 m-0 bg-dark"
                        style="font-weight: bold;">{{ product.name }}</h3>
                    <div class="card-body">
                        <div id="carouselExampleIndicators-{{ product.pk }}" class="carousel carousel-dark slide">
                            <div class="carousel-inner">
                                {% for image in product.images.all %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <img src="{{ image.image.url }}" class="d-block w-100 h-100 rounded"
                                             style="height: 650px; background-color: rgba(0, 0, 0, 0.5)"
                                             alt="Товар-Картинка">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleIndicators-{{ product.pk }}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators-{{ product.pk }}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <p class="card-text text-center gradient_price mx-0 px-0 pt-4" style="font-size: 32px;">
                            Цена: {{ product.price }}с</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mx-0">
                <div class="costumes_card card border-dark text-center shadow-lg h-100" style="text-decoration: none;">

                    <div class="shadow-lg rounded bg-dark px-4 pb-3" style="padding-top: 20px;">
                        <p class="card-text text-start" style="font-size: 24px;">
                            <u><span style="font-size: 26px; color: aliceblue;">Описание:</span></u>
                            {{ product.description }}
                        </p>
                    </div>

                    <div class="shadow-lg rounded bg-dark py-3 px-4 my-3" style="padding-top: 20px;">
                        <p class="card-text text-start" style="font-size: 24px;">
                            <u><span style="font-size: 26px; color: aliceblue;">Подробности:</span></u>
                            {{ product.details }}
                        </p>
                    </div>

                    <div class="shadow-lg rounded bg-dark py-3 px-4" style="padding-top: 15px;">
                        <p class="card-text text-start" style="font-size: 24px;">
                            <u><span style="font-size: 26px; color: aliceblue;">Размеры:</span></u>
                            {% for size in product.sizes.all %}
                                {{ size.name }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
