{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container mt-5 mx-0 px-0">
        <div class="row justify-content-center">
            <div class="col-lg-7 mb-5 px-3 mx-0">
                <div class="costumes_card card border-dark text-center shadow-lg h-100"
                     style="text-decoration: none">
                    <h2 class="card-title py-4">{{ product.name }}</h2>
                    <div class="card-body">
                        <div id="carouselExampleIndicators-{{ product.pk }}" class="carousel carousel-dark slide">
                            <div class="carousel-inner">
                                {% for image in product.images.all %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <img src="{{ image.image.url }}" class="d-block w-100"
                                             style="border: 13px solid black; height: 800px"
                                             alt="Костюмы-Картинка">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleIndicators-{{ product.pk }}"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators-{{ product.pk }}"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    <div style="padding-top: 15px;">
                            <p class="card-text text-uppercase text-start" style="font-size: 24px">
                                <u><span style="font-size: 26px; ; color: aliceblue;">Размеры:</span></u>
                                {% for size in product.sizes.all %}
                                    {{ size.name }}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                        <div style="padding-top: 20px;">
                            <p class="card-text text-start" style="font-size: 24px">
                                <u><span style="font-size: 26px; ; color: aliceblue;">ОПИСАНИЕ:</span></u>
                                {{ product.description }}
                            </p>
                        </div>
                        {% if request.user.is_superuser %}
                            <a href="{% url "webapp:update_product" product.pk %}">
                                <button type="button" class="btn btn-outline-light w-75 btn-lg my-2">Изменить</button>
                            </a>
                            <a href="{% url "webapp:delete_product" product.pk %}">
                                <button type="button" class="btn btn-outline-light w-75 btn-lg my-2">Удалить</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
