{% extends "base.html" %}


{% block content %}
    <div class="container text-left">
        <div class="header_add_product py-5 d-flex justify-content-center align-items-center"
             style="text-align: center;">
            <h2 style="font-size: 70px; color: black; font-weight: bold; border-bottom: 3px solid black; padding: 4px; max-width: 800px">
                Добавить продукт</h2>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name" style="font-size: 50px; font-weight: bold">Название:</label>
                <input type="text" id="name" name="name"
                       style="width: 700px; height: 60px; font-size: 38px; border: 4px solid black; padding-left: 50px"
                       required>
            </div>
            <div class="form-group">
                <label for="description" style="font-size: 50px; font-weight: bold">Описание:</label>
                <textarea id="description" name="description"
                          style="width: 700px; height: 500px; font-size: 28px; border: 4px solid black"
                          rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="{{ form.category.id_for_label }}"
                       style="font-size: 50px; font-weight: bold">Категория:</label>
                <span style="width: 400px; height: 60px; font-size: 38px;">
                    {{ form.category }}
                </span>
            </div>
            <div class="form-group">
                <label for="code" style="font-size: 50px; font-weight: bold; text-align: left">Артикул: </label>
                <input type="text" id="code" name="code"
                       style="width: 400px; height: 60px; font-size: 38px; border: 4px solid black;" required>
            </div>
            <div class="form-group">
                <label for="price" style="font-size: 50px; font-weight: bold">Цена: </label>
                <input type="number" id="price" name="price"
                       style="width: 400px; height: 60px; font-size: 38px; border: 4px solid black" required>
            </div>
            <div class="form-group">

                <label for="image" style="font-size: 50px; font-weight: bold">Картинка:</label>
                 <input type="file" id="images" name="images" accept="image/*" multiple required>
            </div>
            <button type="submit" class="btn btn-danger btn-lg my-5"
                    style="border: 4px solid black; color: black ;font-size: 60px; width: 480px; height: 120px">Добавить
            </button>
        </form>
    </div>
{% endblock %}