{% extends "base.html" %}
{% load static %}

{% block link %}
    {% include "partial/link_header_partial.html" %}
{% endblock %}

{% block content %}
    <div class="costumes_card card mt-5 mb-5">
        <div class="card-header text-center" style="font-size: 50px">
            О нас
        </div>
        <div class="card-body">
            <h2 class="card-title">Уважаемый покупатель!</h2>
            <p class="card-text pb-5" style="font-size: 20px">Пожалуйста, внимательно прочитайте общие правила обмена/
                возврата товаров.</p>

            <h2 class="card-title">Статья 24. Право потребителя на обмен товара надлежащего качества</h2>
            <p class="card-text pb-4" style="font-size: 20px">EEEEEEEEEEEEEEEEEEEEEEEHHHHHHHEEEEEEEEEEEEEEEEEEEEE</p>


        </div>
    </div>
{% endblock %}