{% extends "base.html" %}
{% load static %}

{% block link %}
    {% include "partial/link_header_partial.html" %}
{% endblock %}

{% block content %}
    <div class="costumes_card card mt-5 mb-5">
        <div class="card-header text-center" style="font-size: 50px">
            О нас
        </div>
        <div class="card-body">
            <h2 class="card-title">Уважаемый покупатель!</h2>
            <p class="card-text pb-5" style="font-size: 20px">Данная сетевая спортивная розница начинала свою
                деятельность не с нуля.
                Её основой стал торговый знак «Пан спортсмен», известный на рынке Дордой уже более 20 лет. Солидный
                возраст торговой точки объективно определил и безупречный вкус в отборе ассортимента предлагаемого
                товара.
                </p>

            <h2 class="card-title">Основные потребители наших спортивных товаров относятся к «среднему классу». При этом существует система
                накопительных скидок, что позволяет осуществлять покупки и школьниками, и студентами.
                Одновременно, присутствуют и эксклюзивные товары, соответствующие особому статусу клиентов.
                Кроме того, наш ассортимент, во многом, опережает новые запросы покупателя. Вас удивят новые модификации
                товара, о существовании которых люди еще не знают.
            </h2>
        </div>
    </div>
{% endblock %}