{% extends "base.html" %}
{% load static %}

{% block link %}
    {% include "partial/link_header_partial.html" %}
{% endblock %}

{% block content %}
    <div class="costumes_card card mt-5 mb-5">
        <div class="card-header text-center" style="font-size: 50px">
            Обмен и возврат
        </div>
        <div class="card-body">
            <h2 class="card-title">Уважаемый покупатель!</h2>
            <p class="card-text pb-5" style="font-size: 20px">Пожалуйста, внимательно прочитайте общие правила обмена/
                возврата товаров.</p>

            <h2 class="card-title">Статья 24. Право потребителя на обмен товара надлежащего качества</h2>
            <p class="card-text pb-4" style="font-size: 20px">Потребитель вправе обменять непродовольственный товар
                надлежащего качества на аналогичный товар у продавца, у которого этот товар был приобретен, если
                указанный товар не подошел по форме, габаритам, фасону, расцветке, размеру или по иным причинам не может
                быть использован потребителем по назначению.</p>

            <p class="card-text pb-4" style="font-size: 20px">Потребитель имеет право на обмен непродовольственного
                товара надлежащего качества в течение четырнадцати дней, не считая дня его покупки.</p>

            <p class="card-text pb-4" style="font-size: 20px">Интернет-магазин спортивной одежды предлагает широкий
                ассортимент мужской и женской
                одежды, обуви и аксессуаров для спорта и повседневной носки. Футболки, толстовки, рубашки, спортивные
                костюмы и кроссовки можно купить с доставкой в любой город Кыргызстана – курьерской службой.</p>

            <p class="card-text pb-4" style="font-size: 20px">Обмен непродовольственного товара надлежащего качества
                производится, если указанный товар не был в употреблении, сохранены его товарный вид, потребительские
                свойства, пломбы, фабричные ярлыки, а также товарный чек или кассовый чек, выданный потребителю вместе с
                проданным указанным товаром.</p>

            <p class="card-text pb-4" style="font-size: 20px">Срок доставки зависит от выбранного Вами региона, который
                Вы сможете узнать при
                оформлении заказа у менеджера.</p>


            <p class="card-text pb-4" style="font-size: 20px">Перечень товаров, не подлежащих обмену по основаниям, указанным
                в настоящей статье, утверждается Правительством Кыргызской Республики.</p>

            <p class="card-text" style="font-size: 20px">Проданный товар на распродаже, возврату не подлежит. В случае
                если Вам не подошел размер, Вы может обменять на другой размер, либо на другую модель.</p>

        </div>
    </div>
{% endblock %}