{% extends "base.html" %}
{% load static %}

{% block link %}
    {% include "partial/link_header_partial.html" %}
{% endblock %}

{% block content %}
    <div style="display: flex; padding-top: 40px">
        <div class="container_carusel w-50">
            {% include "partial/carusel_base_index.html" %}
        </div>
        <div class="container_carusel_discr w-50">
            {% include "partial/container_text_near_carusel.html" %}
        </div>
    </div>

    <div class="container_partial_product_list">
        {% include "partial/partial_product_list.html" %}
    </div>


    <div class="line_bord mb-4" style="border-bottom: 2px solid aliceblue;">
    </div>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}