{% extends "base.html" %}
{% load static %}

{% block link %}
    {% include "partial/link_header_partial.html" %}
{% endblock %}

{% block content %}
    {% if request.user.is_superuser %}

        <div class="container_panel d-flex justify-content-center align-center">
            <div class="costumes_card card mt-5 mb-5">
                <div class="card-header text-center" style="font-size: 50px; background-color: #212529">
                    Панель Админа
                </div>
                <div class="card-body">
                    <div>
                        <a href="#" style="text-decoration: none;">
                            <button type="button" class="btn btn-warning w-100 py-2 my-2" style="font-size: 30px">
                                Смотреть заказы
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'webapp:add_product' %}" style="text-decoration: none;">
                            <button type="button" class="btn btn-warning w-100 py-2 my-2" style="font-size: 30px">
                                Добавить продукт
                            </button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    {% endif %}

{% endblock %}