{% extends "base.html" %}
{% load static %}

{% block link %}
    {% include "partial/link_header_partial.html" %}
{% endblock %}

{% block content %}
    <div class="costumes_card card mt-5 mb-5">
        <div class="card-header text-center" style="font-size: 50px">
            Доставка и оплата
        </div>
        <div class="card-body">
            <h2 class="card-title">Способ оплаты заказа</h2>
            <p class="card-text pb-5" style="font-size: 20px">Заказ может быть оплачен банковскими картами</p>

            <h2 class="card-title">К оплате принимаются следующие типы банковских карт:</h2>
            <p class="card-text" style="font-size: 20px">список карт</p>
            <p class="card-text pb-5" style="font-size: 20px">Для осуществления платежа Вам потребуется ввести данные Вашей банковской карты.
                Передача сведений производится с соблюдением всех необходимых мер безопасности.
                Сайт и магазин не знают и не хранят данные по Вашей банковской карте.</p>

            <h2 class="card-title">Условия доставки</h2>
            <p class="card-text pb-5" style="font-size: 20px">Интернет-магазин спортивной одежды предлагает широкий ассортимент. Футболки, толстовки, рубашки, спортивные
                костюмы и кроссовки можно купить с доставкой по всему Бишкеку.</p>

            <h2 class="card-title">Стоимость доставки зависит от пункта назначения</h2>
            <p class="card-text pb-5" style="font-size: 20px">В корзине указана только стоимость товара, а стоимость доставки необходимо оплатить
                отдельно наличными курьерской службе. Общую сумму заказа, с учетом доставки Вы сможете узнать при
                оформлении заказа (наш менеджер перезвонит Вам по указанному номеру).</p>

            <h2 class="card-title">Срок доставки</h2>
            <p class="card-text pb-5" style="font-size: 20px">Срок доставки зависит от выбранного Вами региона, который Вы сможете узнать при
                оформлении заказа у менеджера.
            </p>

            <h2 class="card-title">Памятка покупателю</h2>
            <p class="card-text" style="font-size: 20px">Покупатель должен обеспечить беспрепятственный пронос доставленного товара;
                В согласованное время доставки заказа покупатель должен находиться по адресу доставки;
                При получении товара покупатель должен в присутствии курьера осмотреть товар на наличие комплектации и
                отсутствие внешних дефектов в изделии.
                После приема товара претензии по поводу внешнего вида и комплектации не принимаются.


                Заявки, принятые в выходные, обрабатываются и доставляются в понедельник с 10:00 до 18:00.</p>

        </div>
    </div>
{% endblock %}