<div class="container">
    <ul class="pagination ">
        <!-- В начало -->
        <li style="font-size: 32px;">
            <a style=" text-decoration: none" href="?{% if query %}{{ query }}&{% endif %}page=1">Начало</a>
        </li>

        <!-- Назад -->
        {% if page_obj.has_previous %}
            <li style="font-size: 32px;">
                <a style=" text-decoration: none" href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">Назад</a>
            </li>
        {% endif %}

        <!-- Плитки с номерами страниц -->
        {% for page_number in page_obj.paginator.page_range %}
            <li style="font-size: 32px;" class="{% if page_number == page_obj.number %}active{% endif %}">
                <a style=" text-decoration: none" href="?{% if query %}{{ query }}&{% endif %}page={{ page_number }}">{{ page_number }}</a>
            </li>
        {% endfor %}

        <!-- Вперед -->
        {% if page_obj.has_next %}
            <li style="font-size: 32px;">
                <a style=" text-decoration: none" href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.next_page_number }}">Далее</a>
            </li>
        {% endif %}

        <!-- В конец -->
        <li style="font-size: 32px;">
            <a style=" text-decoration: none" href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.paginator.num_pages }}">Конец</a>
        </li>
    </ul>
</div>