<div class="pt-5 mx-4 ">

    <div class="row">
        {% for product in products %}

            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 px-3 mx-0 mb-5">
                <a href="{% url "webapp:product_detail_view" product.pk %}"
                   class="costumes_card card border-dark text-center d-flex flex-column align-items-stretch"
                   style="text-decoration: none; height: 100%;">

                    <div class="card-body d-flex flex-column justify-content-between p-0 m-0">
                        <div id="carouselExampleIndicators-{{ product.pk }}" class="carousel carousel-dark slide">
                            <div class="carousel-inner">
                                {% for image in product.images.all %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <img src="{{ image.image.url }}" class="d-block w-100 m-o p-0"
                                             style="object-fit: cover; max-height: 380px;"
                                             alt="Костюмы-Картинка">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev " type="button"
                                    data-bs-target="#carouselExampleIndicators-{{ product.pk }}"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators-{{ product.pk }}"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>

                        </div>
                        <div class="costumes_card_header m-1 p-1">
                            <h2 class="card-title costumes_card_header_title"
                                style="">{{ product.name }}</h2>
                        </div>
                        {#                    <div class="card_footer my-2">#}
                        {#                        <button type="button" class="btn btn-custom w-75 btn-lg my-2">Смотреть</button>#}
                        {#                    </div>#}
                        <p class="card_footer_text text-start gradient_price m-1 pb-0 pt-2">
                            Цена: {{ product.price }}с
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
