@font-face {
    font-family: 'AdidasFont'; /* Название шрифта, которое вы будете использовать */
    src: url('../fonts/texgyreadventor-regular.otf') format('opentype'); /* Путь к шрифту */
    /* Другие свойства, такие как font-weight и font-style, если необходимо */
}

body {
    font-family: 'AdidasFont', sans-serif;
    background-image: url('../img/tekstury-seryj-fon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
}

.purchase-option {
    color: #212529;
    background-color: rgba(200, 255, 0, 0.7);
    border: 2px solid honeydew;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    transition: background-color 2s;
}

.purchase-option:hover {
    background-color: yellowgreen;
}

.costumes_card {
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Черный фон с прозрачностью 50% */
    border: none; /* Убираем границу, если она есть */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7); /* Добавляем тень */
}

.costumes_card img {
    object-fit: cover; /* Установите object-fit на cover для изображений */
    height: 100%; /* Установите высоту изображений на 100% контейнера */
    width: 100%; /* Установите ширину изображений на 100% контейнера */
}

.carousel-control-prev {
    color: red; /* Замените 'red' на желаемый цвет */
}

/* Цвет для стрелочек вправо */
.carousel-control-next {
    color: green; /* Замените 'green' на желаемый цвет */
}

.card-with-dark-overlay {
    position: relative;
}

.card-with-dark-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Здесь можно настроить уровень затемнения */
    z-index: 1;
}


/* Стили для пагинации */
.pagination {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 10px;
}

.pagination a {
    text-decoration: none;
    color: #212529;
    border: 2px solid #212529;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #212529;
    color: #fff;
}

/* Стили для активной страницы */
.pagination .active a {
    background-color: #212529;
    color: #fff;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    margin: 0 10px;
    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
}

.carousel-indicators .active {
    background-color: white;

    width: 12px;
    height: 12px;

}

.bi-arrow-left-circle-fill {

    color: white;
    font-size: 45px;

}

.bi-arrow-right-circle-fill {
    color: white;
    font-size: 45px;
}

.carousel-caption {
    padding-top: 100px;
    /*padding-bottom: 200px;*/
}

.carousel-text {
    font-size: 54px;
    font-weight: 600;
    color: whitesmoke;
}

.carousel-text-p {
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.btn-carousel {
    width: 200px;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

/*.gradient_price {*/
/*    background: rgb(33, 37, 41);*/
/*    background: linear-gradient(90deg, rgba(33, 37, 41, 1) 0%, rgba(187, 189, 190, 1) 50%, rgba(33, 37, 41, 1) 100%);*/
/*}*/

/* Стили для формы поиска */
.search-form {
    display: flex;
    justify-content: end; /* Центрирование по горизонтали */
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #212529;
    border-top: 2px solid #212529;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.search-form label {
    font-size: 24px;
    margin-right: 10px;
    color: white;
}

.search-form input[type="text"] {
    font-size: 22px;
    border: 2px solid #212529;
    border-radius: 5px;
    padding: 5px 10px;
    width: 322px;
}

.search-form input[type="submit"] {
    font-size: 22px;
    background-color: #212529;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

/* Стили для сообщений об ошибках */
.form-error {
    color: red;
    font-size: 18px;
}

.purchase_options {
    display: flex;
    justify-content: center;
}

.purchase-option {
    width: 550px;
    height: 400px;
    padding: 30px;
    margin: 15px; /* Устанавливаем отступ между карточками в 15px */
    border: 1px solid #ccc;
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s;
    text-align: center;
    font-size: 32px; /* Устанавливаем размер текста в 32px */
}

.purchase-option:hover {
    transform: scale(1.2);
    background-color: #f0f0f0;
}